<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ramapriyasridharan.trialapp04">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.ramapriyasridharan.trialap1p04.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.ramapriyasridharan.trialapp04.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetUserInformation"
            android:label="@string/title_activity_get_user_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <service
            android:name="com.example.ramapriyasridharan.BackgroundTasks.WeightCostMatrixService"
            android:label="@string/title_activity_collect_user_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <service
            android:name="com.example.ramapriyasridharan.BackgroundTasks.SensorIntentService"
            android:label="@string/title_activity_collect_user_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <service
            android:name="com.example.ramapriyasridharan.BackgroundTasks.NotificationService"
            android:label="Notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <receiver android:name="com.example.ramapriyasridharan.BroadcastReceivers.AlarmReceiver">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action>
            </intent-filter>

        </receiver>
        <service android:name="com.example.ramapriyasridharan.JobService.UserResponseSendService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.example.ramapriyasridharan.BroadcastReceivers.BootReceiver"
            android:label="StartMyServiceAtBootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.example.ramapriyasridharan.BackgroundTasks.AlarmNextDayService"
            android:label="Notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfilingFeaturesActivity"
            android:label="@string/title_activity_profiling_features"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfilingSensorsActivity"
            android:label="@string/title_activity_profiling_sensors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfilingDataCollectorsActivity"
            android:label="@string/title_activity_profiling_data_collectors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfilingContextsActivity"
            android:label="@string/title_activity_profiling_contexts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuestionsActivity"
            android:label="@string/title_activity_questions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PauseActivity"
            android:label="@string/title_activity_pause"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainQuestionsActivity"
            android:label="@string/title_activity_main_questions"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
